    <div class="collabContent">
      <?php foreach($collabs as $collab) { ?>

        <?php if ($collab[2] == 0 && strcmp($collab[5], $_SESSION['username']) != 0) { ?>
          <br><p><?= $collab[1] ?> Request sent on: <?= $collab[3] ?></p>
          <button class="btn btn-success accept_request" value=<?= $collab[1] ?>>Accept Collaboration</button>
          <button class="btn btn-danger deny_request" value=<?= $collab[1] ?>>Deny Collaboration</button>
        <?php } else if ($collab[2] == 0) { ?>
          <br><p><?= $collab[1] ?> Request sent on: <?= $collab[3] ?></p>
          <button class="btn btn-danger deny_request" value=<?= $collab[1] ?>>Cancel Request</button>
        <?php } else { ?>
          <br><p><?= $collab[1] ?>  Collaborator since: <?= $collab[3] ?></p>
          <button class="btn btn-danger deny_request" value=<?= $collab[1] ?>>Uncollaborate</button>
        <?php } ?>

      <?php } ?>


    <ul>
    My Feed
    <?php 
    $events = Event::getEvents('username', $_SESSION['username']);
    foreach($events as $e) {
        renderEvent($e, $_SESSION['username']);
    } ?>
        
    </ul>

    <ul>
        Collaborator Feed
    <?php 
    $collaborators = User::getCollaborators($_SESSION['username'], 1);
    
    foreach($collaborators as $c) {
        $events = Event::getEvents('username', $c[1]);
        foreach ($events as $e) {
            renderEvent($e, $_SESSION['username']);
        }
    } ?>
    </ul>

    </div>
  </body>
</html>