    <div class="collabContent">
      <h1> Collaborators </h1> 
      <div class="messages collab">
        <h3>Run_DMC_Poser</h3>
        <h3>Views: 1003043</h3>
        <h3> Collaborated On: Album 3, Song 4</h3>
      </div>
      <div class="messages collab">
        <h3>Eminem_Fan</h3>
        <h3>Views: 1003043</h3>
        <h3> Collaborated On: Album 3, Song 4</h3>
      </div>
      <div class="messages collab">
        <h3>Dubba_Johnny</h3>
        <h3>Views: 1003043</h3>
        <h3> Collaborated On: Album 3, Song 4</h3>
      </div>
      <div class="messages collab">
        <h3>E-40_Fan</h3>
        <h3>Views: 1003043</h3>
        <h3> Collaborated On: Album 3, Song 4</h3>
      </div>
    </div>
  </body>
</html>