    <div class="collabContent">
      <?php foreach($collabs as $collab) { ?>

        <?php if ($collab[2] == 0) { ?>
          <br><p><?= $collab[1] ?> Request sent on: <?= $collab[3] ?></p>
          <button class="btn btn-success accept_request" value=<?= $collab[1] ?>>Accept Collaboration</button>
          <button class="btn btn-danger deny_request" value=<?= $collab[1] ?>>Deny Collaboration</button>
        <?php } else { ?>
          <br><p><?= $collab[1] ?>  Collaborator since: <?= $collab[3] ?></p>
          <button class="btn btn-danger deny_request" value=<?= $collab[1] ?>>Uncollaborate</button>
        <?php } ?>

      <?php } ?>
    </div>
  </body>
</html>