      <!-- New Iteration Modal -->
      <div class="modal fade" id="iterModal" tabindex="-1" role="dialog" aria-labelledby="iterLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="iterLabel">New Iteration</h4>
            </div>
            <div class="modal-body">
              <form role="form">
                <div class="form-group">
                  <label for="description">Description</label>
                  <input type="text" class="form-control" id="description" placeholder="Enter description">
                  <label for="upload">Upload music</label>
                  <input id="upload" type="file" class="form-control">
                </div>
                <div class="form-group formButtons">
                  <button type="button" id="add_iter_btn" class="btn btn-success">Add Iteration</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="section group">
        <div class="col sidepanel">
          <h3 class="whiteout">Music Currently Being Edited</h3>
          <ul>
            <li><p class="whiteout"> Stan Remix Pt. 2 (Other User)</p></li>
          </ul>
        </div>
        <div class="col span_1_of_2">
          <h1 id="lab">Lab</h1>
          <div class="messages">
            <h3>Me - Iteration 1: Changed pace of song</h3>
            <img class="controls" src="<?=SERVER_PATH?>images/controls.jpg" alt="controls">
            <button class="btn btn-info lab_button download">Download Song</button>
          </div>
          <div class="messages">
            <h3>Other User - Iteration 2: Added custom vocals</h3>
            <img class="controls" src="<?=SERVER_PATH?>images/controls.jpg" alt="controls">
            <button class="btn btn-info lab_button download">Download Song</button>
          </div>
          <div class="messages">
            <h3>Other User - Iteration 3: Enhanced Base</h3>
            <img class="controls" src="<?=SERVER_PATH?>images/controls.jpg" alt="controls">
            <button class="btn btn-info lab_button download">Download Song</button>
          </div>
          <div class="messages">
            <h3>Me - Iteration 4: Refined Sound</h3>
            <img class="controls" src="<?=SERVER_PATH?>images/controls.jpg" alt="controls">
            <button class="btn btn-info lab_button download">Download Song</button>
          </div>

          <button id="new_iter" class="btn btn-primary lab_button" data-toggle="modal" data-target="#iterModal">Add New Iteration?</button>
          <button id="publish_lab" class="btn btn-success lab_button">Publish to My Music?</button>
          <button id="delete_lab" class="btn btn-danger lab_button">Delete Song from Lab?</button>

        </div>
      </div>
  </body>
</html> 